.main-container {
    display: block;
    min-height: 100%;
}

.sidebar {
    width: 200px;
    background-color: #8bdbad8a;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.category {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.shopping_item {
    width: 75px;
    height: 120px;
    border: 10px solid #2196F3;
    background-color: #f7f7f7;
    text-align: center;
}

.product {
    background-color: #f7f7f7;
    text-align: center;
}

.product-img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.product-price {
    margin-top: 5px;
    font-weight: bold;
}

.add-button {
    margin-top: 10px;
}

#navigation{
    margin-top: 10px;
    margin-bottom: 10px;
}

#second-nav, #third-nav{
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    right: 0;
}

#productPage{
    border: none;
    outline: none;
    min-height: 100%;
}

.product-container {
    display: flex;
    align-items: flex-start;
}
.product-image {
    flex: 0 0 40%;
    margin-right: 20px;
}
.product-details {
    flex: 1;
}
.product-description {
    display: block;
    clear: both;
    margin-top: 20px;
}

#shopping-list {
    list-style-type: none;
    padding: 0;
}

#shopping-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#shopping-list li span {
    flex: 1;
    text-align: center;
}

#total {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}

.quantity-input {
    width: 50px; /* 设置输入框的宽度 */
    text-align: center;
}